<!-- Footer -->
<footer class="footer">
  <div class="container">
    <a href="/" rel="noopener noreferrer">
      <svg class="footer-icon-logo" width="" height="120">
        <use href="./img/icons.svg#icon-logo-big"></use>
      </svg>
    </a>
<ul class="footer-menu">
  <li class="footer-menu-item"> 
    <a href="#artists-list">Artists</a>
  </li>
  <li class="footer-menu-item">
     <a href="#about">About us</a>
    </li>
  <li class="footer-menu-item">
     <a href="#reviews">Reviews</a>
  </li>
</ul>

<div class="footer-bottom">
<ul class="footer-social-media">
  <li>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
      <svg class="footer-icons" width="40" height="40">
          <use href="./img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
        <svg class="footer-icons" width="40" height="40">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
   
      <li>
        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
          <svg class="footer-icons" width="40" height="40">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
</ul>
<p class="footer-copyright">© 2025 ArtistsHub. All rights reserved.</p>
</div>

  </div>
</footer>
