<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo">
      <svg class="icon-logo" width="106" height="30">
        <use href="/img/icons.svg#icon-logo-big"></use>
      </svg>
    </a>

    <div class="header-nav-actions">
      <nav class="header-nav">
        <ul class="header-nav-ul">
          <li><a href="#artists-list" class="header-nav-link">Artists</a></li>
          <li><a href="#about" class="header-nav-link">About Us</a></li>
          <li><a href="#reviews" class="header-nav-link">Reviews</a></li>
        </ul>
      </nav>
    </div>

    <button class="header-burger" id="burger">
      <svg class="header-burger-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>

    <div class="header-mobile-menu" id="mobileMenu">
      <div class="header-mobile-menu-overlay" id="menuOverlay"></div>

      <div class="header-mobile-menu-content">
        <div class="header-mobile-menu-head">
          <a href="./index.html" class="logo mob-logo">
            <svg class="header-logo-icon" width="106" height="30">
              <use href="/img/icons.svg#icon-logo-big"></use>
            </svg>
          </a>
          <button class="header-close-menu" id="closeMenu">
            <svg class="header-close-icon" width="12" height="12">
              <use href="/img/icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>

        <nav class="header-mob-nav">
          <ul class="header-mob-nav-ul">
            <li>
              <a href="#artists-list" class="header-mob-nav-link">Artists</a>
            </li>
            <li><a href="#about" class="header-mob-nav-link">About Us</a></li>
            <li><a href="#reviews" class="header-mob-nav-link">Reviews</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
