<header class="header">
  <div class="header-container">
    <a href="./index.html" class="logo">
      <svg class="icon-logo" width="106" height="30">
        <use href="/img/icons.svg#icon-logo-big"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-nav-ul">
        <li><a href="#artists" class="header-nav-link">Artists</a></li>
        <li><a href="#about" class="header-nav-link">About Us</a></li>
        <li><a href="#reviews" class="header-nav-link">Reviews</a></li>
      </ul>
    </nav>

    <div class="header-actions">
      <button class="header-toggle">
        <svg class="header-icon burger" width="24" height="24">
          <use href="/img/icons.svg#icon-burger-menu"></use>
        </svg>
        <svg class="header-icon close" width="24" height="24">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="header-mobile-menu">
    <ul class="header-mob-nav-ul">
      <li><a href="#artists" class="header-mob-nav-link">Artists</a></li>
      <li><a href="#about" class="header-mob-nav-link">About Us</a></li>
      <li><a href="#reviews" class="header-mob-nav-link">Reviews</a></li>
    </ul>
  </div>
</header>
