<!-- HERO -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hero Test</title>
  <link rel="stylesheet" href="../css/hero.css">
</head>

<body>
<section class="hero">

  <div class="hero-content">
    <h1>Discover Your Next Favorite Artist Today</h1>
    <p>
      Dive into a world of music discoveries with ArtistsHub – your personal guide to the boundless universe of sound.
      Explore, filter, and learn about your favorite artists all in one place.
    </p>
    <button class="hero-btn">Explore Artists
      <svg class="hero-icon">
        <use href="../img/icons.svg#icon-arrow-1"></use>
      </svg>
    </button>
  </div>

<div class="hero-images">
  <div class="column">
    <picture>
      <source srcset="../img/hero-4-mob.jpg 1x, ../img/hero-4-mob@2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="../img/hero-4-tab.jpg 1x, ../img/hero-4-tab@2x.jpg 2x"
        media="(min-width: 768px) and (max-width: 1439px)">
      <source srcset="../img/hero-4-desk.jpg 1x, ../img/hero-4-desk@2x.jpg 2x" media="(min-width: 1440px)">
      <img src="../img/hero-4-desk.jpg" alt="artist">
    </picture>

    <picture>
      <source srcset="../img/hero-5-mob.jpg 1x, ../img/hero-5-mob@2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="../img/hero-5-tab.jpg 1x, ../img/hero-5-tab@2x.jpg 2x"
        media="(min-width: 768px) and (max-width: 1439px)">
      <source srcset="../img/hero-5-desk.jpg 1x, ../img/hero-5-desk@2x.jpg 2x" media="(min-width: 1440px)">
      <img src="../img/hero-5-desk.jpg" alt="artist">
    </picture>

    <picture>
      <source srcset="../img/hero-6-mob.jpg 1x, ../img/hero-6-mob@2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="../img/hero-6-tab.jpg 1x, ../img/hero-6-tab@2x.jpg 2x"
        media="(min-width: 768px) and (max-width: 1439px)">
      <source srcset="../img/hero-6-desk.jpg 1x, ../img/hero-6-desk@2x.jpg 2x" media="(min-width: 1440px)">
      <img src="../img/hero-6-desk.jpg" alt="artist">
    </picture>
  </div>

  <div class="column">
    <picture>
      <source srcset="../img/hero-1-mob.jpg 1x, ../img/hero-1-mob@2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="../img/hero-1-tab.jpg 1x, ../img/hero-1-tab@2x.jpg 2x"
        media="(min-width: 768px) and (max-width: 1439px)">
      <source srcset="../img/hero-1-desk.jpg 1x, ../img/hero-1-desk@2x.jpg 2x" media="(min-width: 1440px)">
      <img src="../img/hero-1-desk.jpg" alt="artist">
    </picture>

    <picture>
      <source srcset="../img/hero-2-mob.jpg 1x, ../img/hero-2-mob@2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="../img/hero-2-tab.jpg 1x, ../img/hero-2-tab@2x.jpg 2x"
        media="(min-width: 768px) and (max-width: 1439px)">
      <source srcset="../img/hero-2-desk.jpg 1x, ../img/hero-2-desk@2x.jpg 2x" media="(min-width: 1440px)">
      <img src="../img/hero-2-desk.jpg" alt="artist">
    </picture>

    <picture>
      <source srcset="../img/hero-3-mob.jpg 1x, ../img/hero-3-mob@2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="../img/hero-3-tab.jpg 1x, ../img/hero-3-tab@2x.jpg 2x"
        media="(min-width: 768px) and (max-width: 1439px)">
      <source srcset="../img/hero-3-desk.jpg 1x, ../img/hero-3-desk@2x.jpg 2x" media="(min-width: 1440px)">
      <img src="../img/hero-3-desk.jpg" alt="artist">
    </picture>
  </div>
</div>


<!-- <div class="hero-images">
  <div class="column">
    <img src="../img/hero-4-desk.jpg" srcset="../img/hero-4-desk.jpg 1x, ../img/hero-4-desk@2x.jpg 2x" alt="artist">
    <img src="../img/hero-5-desk.jpg" srcset="../img/hero-5-desk.jpg 1x, ../img/hero-5-desk@2x.jpg 2x" alt="artist">
    <img src="../img/hero-6-desk.jpg" srcset="../img/hero-6-desk.jpg 1x, ../img/hero-6-desk@2x.jpg 2x" alt="artist">
  </div>
  <div class="column">
    <img src="../img/hero-1-desk.jpg" srcset="../img/hero-1-desk.jpg 1x, ../img/hero-1-desk@2x.jpg 2x" alt="artist">
    <img src="../img/hero-2-desk.jpg" srcset="../img/hero-2-desk.jpg 1x, ../img/hero-2-desk@2x.jpg 2x" alt="artist">
    <img src="../img/hero-3-desk.jpg" srcset="../img/hero-3-desk.jpg 1x, ../img/hero-3-desk@2x.jpg 2x" alt="artist">
  </div>
</div> -->

</section>
</body>
</html>