<!-- HERO -->
<section class="hero-section">
  <div class="container hero-container hero">
    <div class="hero-content">
      <h1>Discover Your Next Favorite Artist Today</h1>
      <p>
        Dive into a world of music discoveries with ArtistsHub – your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <button class="hero-btn">
        Explore Artists
        <svg class="hero-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>

    <div class="hero-images">
      <ul class="column first-column">
        <li class="thumb thumb-4"></li>
        <li class="thumb thumb-5"></li>
        <li class="thumb thumb-6"></li>
      </ul>
      <ul class="column second-column">
        <li class="thumb thumb-1"></li>
        <li class="thumb thumb-2"></li>
        <li class="thumb thumb-3"></li>
      </ul>
    </div>
  </div>
</section>
