<!-- HERO -->
<section class="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1>Discover Your Next Favorite Artist Today</h1>
      <p>
        Dive into a world of music discoveries with ArtistsHub – your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <button class="hero-btn">
        Explore Artists
        <svg class="hero-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-player"></use>
        </svg>
      </button>
    </div>

    <div class="hero-images">
      <div class="column">
        <div class="thumb thumb-4"></div>
        <div class="thumb thumb-5"></div>
        <div class="thumb thumb-6"></div>
      </div>
    
      <div class="column">
        <div class="thumb thumb-1"></div>
        <div class="thumb thumb-2"></div>
        <div class="thumb thumb-3"></div> 
      </div>
    </div>

  </div>
</section>