/* Artists */

.artist-card {
    cursor: default;
}

.artists-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-top: 16px;
}

.artists-item {}

.artist-card {
    display: flex;
    flex-direction: column;
    gap: 24px;

    color: var(--color-white);
    background: transparent;
}

.artist-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.artist-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 4px 10px;
    height: 32px;
    border-radius: 6px;

    background: transparent;
    border: 1px solid var(--opacity-white-20);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: var(--color-white);
    transition: background .2s ease, border-color .2s ease, opacity .2s ease;
}

.tag:hover {
    background: var(--opacity-white-10);
    border-color: var(--opacity-white-30);
}

.tag:focus-visible {
    outline: 2px solid var(--opacity-white-40);
    outline-offset: 2px;
}

.artist-name {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: var(--color-white);
}

.artist-desc {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-white);
    opacity: 1;
}

.text-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist-cta {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 8px;

    margin-top: 8px;
    padding: 0 10px;
    min-width: 125px;
    height: 27px;

    border-radius: 12px;
    background: transparent;
    border: none;
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;

    transition: opacity .2s ease, background .2s ease, transform .02s ease;
}

.artist-cta:hover {
    opacity: .6;
}

.artist-cta:focus-visible {
    outline: 2px solid var(--opacity-white-40);
        outline-offset: 2px;
}

@media (min-width: 768px) {
    .artists-list {
        grid-template-columns: 1fr;
        gap: 32px;
        margin-top: 16px;
    }

    .artist-card {
        gap: 24px;
    }
}

@media (min-width: 1280px) {

    .artists-list {
        grid-template-columns: 1fr 1fr;
        gap: 64px 32px;
        margin-top: 0;
        padding-left: 32px;
    }

    .artist-img {
        aspect-ratio: 472 / 290;
    }
}