/* Feedback */

.feedback {
  padding: 64px 0;
}

.feedback .container {
  position: relative;
}

.feedback-viewport {
  min-height: 200px;
  transition: opacity 0.2s ease;
  margin-bottom: 16px;
}

.feedback[data-state='loading'] .feedback-viewport {
  opacity: 0;
  pointer-events: none;
}

/* oader */

.feedback-loader {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.feedback[data-state='loading'] .feedback-loader {
  opacity: 1;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
  background: currentColor;
  color: #fff;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  bottom: 0;
  left: 20px;
  animation: animloader1 0.3s 0.45s linear infinite alternate;
}

.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 40px;
    transform: translateY(0);
  }
  100% {
    height: 10px;
    transform: translateY(30px);
  }
}

@keyframes animloader1 {
  0% {
    height: 48px;
  }
  100% {
    height: 4.8px;
  }
}

/* Rating */

.rating {
  display: flex;
  justify-content: center;
  margin: 0;
  pointer-events: none;
  margin-bottom: 0 !important;
}

.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 32px;
}

.rating .star {
  position: relative;
  width: 24px !important;
  height: 24px !important;
}

.rating .star > span {
  position: absolute;
  inset: 0;
  display: block;
}

.rating .star svg {
  width: 100%;
  height: 100%;
  display: block;
}

.rating .star-empty svg path {
  fill: #ffffff;
}

.rating .star-filled svg path,
.rating .star-half svg path {
  fill: #7c3aed;
}

.rating .star .star-filled,
.rating .star .star-half {
  display: none;
}

.rating.half.value-0 .star:nth-child(1) .star-half {
  display: block;
}
.rating.half.value-1 .star:nth-child(2) .star-half {
  display: block;
}
.rating.half.value-2 .star:nth-child(3) .star-half {
  display: block;
}
.rating.half.value-3 .star:nth-child(4) .star-half {
  display: block;
}
.rating.half.value-4 .star:nth-child(5) .star-half {
  display: block;
}

.rating.value-1 .star:nth-child(-n + 1) .star-filled {
  display: block;
}
.rating.value-2 .star:nth-child(-n + 2) .star-filled {
  display: block;
}
.rating.value-3 .star:nth-child(-n + 3) .star-filled {
  display: block;
}
.rating.value-4 .star:nth-child(-n + 4) .star-filled {
  display: block;
}
.rating.value-5 .star:nth-child(-n + 5) .star-filled {
  display: block;
}

.rating .star-half {
  clip-path: inset(0 50% 0 0);
}

.rating .star-empty {
  z-index: 1;
}
.rating .star-half {
  z-index: 2;
}
.rating .star-filled {
  z-index: 3;
}

/* Feedback text */

.feedback-text {
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);

  text-align: center;
  margin-bottom: 32px;
}

.feedback-author {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-scheme-1-text);

  text-align: center;
}

/* Swiper pagination */

.swiper-pagination {
  position: static !important;
  display: flex;
  justify-content: center;
  gap: 9px;

  padding: 10px 0;
}

.swiper-pagination span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

/* Swiper button */

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

/* Feedback button */

.leave-feedback-button {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-white);

  background-color: var(--color-affair);
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);

  text-align: center;
  display: block;
  margin: 0 auto;

  gap: 8px;
  border: none;
  border-radius: 12px;

  min-width: 288px;
  height: 47px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leave-feedback-button:hover,
.leave-feedback-button:focus {
  background-color: #5a2f78;
}

@media only screen and (min-width: 768px) {
  .feedback-card {
    padding: 0px 93px 16px 93px;
  }

  .feedback-text {
    font-size: 26px;
  }

  /* Swiper button */
  .swiper-button-prev {
    left: 0px !important;
  }

  .swiper-button-next {
    right: 0px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute;

    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);

    width: 48px !important;
    height: 48px !important;
    padding: 11px;

    border-radius: 8px;
    border: 1px solid var(--opacity-white-50);
    background-color: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: none !important;
  }

  .swiper-button-prev::before,
  .swiper-button-next::before {
    content: '';
    display: block;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover,
  .swiper-button-prev:focus,
  .swiper-button-next:focus {
    background: var(--color-scheme-2-foreground);
  }

  .arrow {
    color: #fff;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .icon-arrow {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }

  .swiper-button-prev .icon-arrow {
    transform: rotate(180deg);
  }

  .swiper-button-disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  /* Feedback button */

  .leave-feedback-button {
    min-width: 158px;
  }
}

@media only screen and (min-width: 1440px) {
  .feedback {
    padding: 112px 0;
  }

  .feedback-viewport {
    margin-bottom: 80px;
  }

  .feedback-text {
    font-size: 32px;
  }

  .feedback-card {
    padding: 0px 223px 16px 223px;
  }

  /* Feedback button */

  .leave-feedback-button {
    min-width: 177px;
  }
}
